.LandingPage-row {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    margin: 0 -1rem;
    padding: 0 1rem;
    justify-content: center;
    
}

/* .page-card {
    flex: 0 0 auto;
    background-color: white;
    border: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-right: 1rem;
} */

/* On mouse-over, add a deeper shadow */
.page-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.page-card-container {
    padding: 16px 16px;
}

.card-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
}

.login-button{
    width: 40%;
}

.page-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-right: 1rem;
}

.card-image {
    width: 20%;
    height: auto; 
}

.card-heading {
    color: white;
}

.card-description {
    color: #9b9a9d;  
    font-size: 16px;
    margin-top: 10px;  
}


.LandingPage-row {
    position: relative; /* Set the parent container to relative */
    display: flex;
    flex-direction: row; /* Change to row to make the children side by side */
    justify-content: center; /* Center the children horizontally */
    padding-top: 150px; /* This gives space at the top for the logo. Adjust as needed */
  }
  
.ecode-logo {
    position: absolute; /* Position the logo absolutely */
    top: 20px;          /* Set a small gap from the top */
    left: 50%;          /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for the logo's width */
    z-index: 1;         /* Make sure it's above other content */
    width: 100px;       /* Set logo width. Adjust as needed */
    height: auto;       /* Maintain aspect ratio */
}
  
.page-card {
    margin: 0 20px;     /* Give some horizontal space between cards */
    /* Add other styles you had previously here */
}
  
  

  
